<!DOCTYPE html>

<head>
    <title>ARKホロ鯖 killed リスト</title>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@Libra694" />
    <meta property="og:url" content="https://libra694.github.io/holo-ark-killed-list/" />
    <meta property="og:title" content="ARKホロ鯖 killed リスト" />
    <meta property="og:description" content="ARKホロ鯖にて killed されたテイム済み生き物のリスト(自動検出)" />
</head>

<body text="#333333">
    <h2>ARKホロ鯖 killed リスト</h2>
    <ul>
        <li>対象はテイム済みの生き物のみです。</li>
        <li>自動検出のため抜けや誤検出があります。</li>
        <li>作業中のためまるごと抜けている配信があります。</li>
        <li>リンク: <a href="./aqua.html">ver.湊あくあ</a></li>
        <li>コード: <a href="https://github.com/Libra694/ark-detect-killed">killed検出</a>, 
            <a href="https://github.com/Libra694/holo-ark-killed-list">このページ</a></li>
        <li>製作者: <a href="https://twitter.com/Libra694">Libra694</a></li>
    </ul>
    </br>
    <table>
        <tr>
            <th>タイムスタンプ</th>
            <th>チャンネル名</th>
            <th>キルログ</th>
        </tr>
        {% for row in data -%}
        <tr>
            <th>{{row.timestamp}}</th>
            {#
            <th>{{row.id}}</th>
            <th><input type="checkbox" id="{{row.id}}"></th>
            -#}
            <th>{{row.channel_title}}</th>
            {% if loop.index < 50 -%}
            <th><a href="{{row.url}}"><img src="{{row.image}}" width="1200" /></a></th>
            {% else -%}
            <th><a href="{{row.url}}"><img class="lazyload" data-src="{{row.image}}" width="1200" /></a></th>
            {% endif -%}
            <th><a href="{{row.url}}">jump to YouTube</a></th>
        </tr>
        {% endfor -%}
    </table>
    {#
    <br/>
    <input type="file" id="upload"><br/>
    <a href="" id="download" onclick="download_cheked()">Download</a>
    -#}

    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.min.js"></script>  

    <script type="text/javascript">
        lazyload();
        {#
        function upload_file(evt) {
            var file = evt.target.files[0];
            var reader = new FileReader();
            reader.readAsText(file);
            reader.onload = function () {
                var dic = JSON.parse(reader.result);
                var elements = document.getElementsByTagName("input");
                for(var i = 0; i < elements.length; i++) {
                    if(elements[i].type != "checkbox") continue;
                    elements[i].checked = dic[elements[i].id]
                }
            }
        }
        function download_file() {
            var file_name = "cheked.json"
            var dic = {}
            var elements = document.getElementsByTagName("input");
            for(var i = 0; i < elements.length; i++) {
                if(elements[i].type != "checkbox") continue;
                dic[elements[i].id] = elements[i].checked
            }
            var json = JSON.stringify(dic);

            var blob = new Blob([json], {"type": "text/plain"});
            if (window.navigator.msSaveBlob) { 
                window.navigator.msSaveBlob(blob, file_name); 
                window.navigator.msSaveOrOpenBlob(blob, file_name); 
            } else {
                var element = document.getElementById("download");
                element.href = window.URL.createObjectURL(blob);
                element.setAttribute('download', file_name);
            }
        }
        document.getElementById('upload').addEventListener('change', upload_file, false);
        document.getElementById('download').addEventListener('click', download_file, false);
        -#}
    </script>
</body>



</html>